@use 'tokens' as *;

// Prevent font size inflation
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

// Core body defaults
body {
  background-color: $color-bg;
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.body--inner-page {
  align-items: normal;
}
