@use 'variables' as *;

@media (max-width: $mobile-breakpoint) {
  // Change body background to card color
  html {
    font-size: 12px;
  }
  body {
    background-color: $color-secondary;

    align-items: normal;
  }

  // Card becomes full width and transparent
  .card {
    border-radius: 0;
    background: transparent;
    padding-bottom: 0;

    gap: $sp-2xl;
  }

  .links-list {
    &--inline {
      flex-direction: column;
    }
  }

  .status {
    flex-direction: column;
    font-size: $fs-h3;
  }
}
