@use 'variables' as *;

// Mobile breakpoint (adjust as needed)
$mobile-breakpoint: 60rem; // 768px

@media (max-width: $mobile-breakpoint) {
  // Change body background to card color
  body {
    background-color: $color-secondary;
    font-size: $fs-xs;

    align-items: normal;
  }

  // Card becomes full width and transparent
  .card {
    min-width: 100vw;
    width: 100%;
    height: auto;
    border-radius: 0;
    background: transparent;
    padding-bottom: 0;

    gap: $sp-2xl;
  }

  .links-list {
    &--inline {
      flex-direction: column;
    }
  }

  .status {
    flex-direction: column;
    font-size: $fs-h3;
  }
}
